extends ./layout.jade

block carousel
	h1.header-hero Amazing Grace

block content
	#welcome.page
		h1 Welcome to Holy Ground Family Fellowship
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto expedita illum ut, autem iure accusamus vitae ipsum, suscipit asperiores fugiat esse vel. Ipsa, doloremque. Cupiditate minima blanditiis iusto distinctio dolores. 
	#pastor.page
		h1 Meet our lead pastor
		p.
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam vitae rerum aliquam quae itaque provident blanditiis corporis deserunt nulla, eos, nobis autem, obcaecati, at distinctio eveniet deleniti aliquid nisi! Nostrum!
	#location.page
		ul.location-container
			li.address
				i.fa.fa-map-marker
				p 980 Gettysburg Ave
				p Clovis CA 93612
			li.time 
				i.fa.fa-clock-o
				p Sundays: 10AM - 12PM
			li.phone-number 
				i.fa.fa-phone
				p (559) 347-9678

			





