/* Imports (bad practice I know) */
@import url(../fonts/besom/stylesheet.css);
/* General */
html, body {
  height: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

h1 {
  font-family: 'Open Sans', sans-serif; }

p {
  font-family: 'Source Sans Pro', sans-serif; }

a {
  font-family: 'Open Sans', sans-serif; }

/* Hidden */
.hidden {
  display: none; }

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* Mixins */
/* Variables */
/* Page Defaults */
.page {
  width: 100%;
  padding: 5px 15px; }

/* Header Page */
#header {
  height: 100%;
  background: linear-gradient(#2213ec, rgba(0, 255, 255, 0.5)), url("../img/haeder_background2.jpg") no-repeat fixed center;
  background-size: cover; }

/* Header Top */
.header-top {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  background: transparent;
  color: #fff; }

/* Header Container */
.header-top-container {
  min-height: 45px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/* Header Logo */
.header-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4%;
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  font-size: 1.9em; }

/* Navicon */
.fa-bars {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4%;
  font-size: 1.9em;
  cursor: pointer; }

/* Header Nav */
.header-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  background: #000; }
  .header-nav li {
    display: block;
    text-align: center; }
    .header-nav li a {
      display: block;
      padding: 10px 0;
      text-decoration: none;
      color: #fff;
      font-size: 1.5em; }

/* Header Hero */
.header-hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
  color: #fff;
  font-family: 'besom_2regular', sans-serif;
  font-size: 3.3em; }

/* Content Page */
#welcome {
  text-align: center;
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  color: #000; }
  #welcome h1 {
    color: #0036FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 0.5em 0 0.3em; }
  #welcome p {
    margin-top: 0;
    line-height: 2em; }

/* Pastor Page */
#pastor {
  height: 100%;
  background: url("../img/pastor_background.jpg") no-repeat fixed; }

/* Location Page */
#location {
  background: #595959; }
  #location .location-container {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #location .location-container li {
      text-align: center;
      margin: 1em; }
      #location .location-container li i {
        color: #fff;
        font-size: 1.5em; }
      #location .location-container li p {
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        margin: 0.5em; }

/* Footer Page */
#footer {
  background: #1F1ABD;
  text-align: center; }
  #footer .icons {
    padding: 10px 0 0; }
  #footer p {
    margin: 0;
    padding: 4px 2px;
    font-size: 0.9em;
    word-spacing: 2px; }

/*# sourceMappingURL=main.css.map */
