/* Imports (bad practice I know) */
@import '../fonts/besom/stylesheet.css' ;

/* General */
html, body {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	font-family: 'Open Sans', sans-serif;
}

	/* Hidden */
	.hidden {
		display: none;
	}

	/* Clearfix */
	.clearfix:before,
	.clearfix:after {
	  content: "";
	  display: table;
	}

	.clearfix:after {
	  clear: both;
	}

	.clearfix {
	  zoom: 1; 
	}

/* Mixins */
@mixin center-nav() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin preserve() {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/* Variables */
$headertop-font-size: 1.9em;


/* Page Defaults */
.page {
	width: 100%;
	padding: 5px 15px;
}


/* Header Page */
#header {
	height: 100%;
	background: linear-gradient(hsla(244,85%,50%,1), rgba(0, 255, 255, 0.5)),
				url('../img/haeder_background2.jpg') no-repeat fixed center;
	background-size: cover;
}

	/* Header Top */
	.header-top {
		font-family: 'Open Sans', sans-serif;
		padding: 10px;
		background: transparent;
	    color: #fff;	
		}

		/* Header Container */
		.header-top-container {
			min-height: 45px;
			position: relative;
			@include preserve();
		}
			
			/* Header Logo */
			.header-logo {
				@include center-nav();
				left: 4%;
				display: inline-block;
				margin: 0;
				white-space: nowrap;
				font-size: $headertop-font-size;
			}

			/* Navicon */
			.fa-bars {
				@include center-nav();
				right: 4%;
				font-size: $headertop-font-size;
				cursor: pointer;
			}

		/* Header Nav */
		.header-nav {
			list-style-type: none;
			padding: 0;
			margin: 0;
			z-index: 2;
			background: #000;

			li {
				display: block;
				text-align: center;

				a {
					display: block;
					padding: 10px 0;
					text-decoration: none;
					color: #fff;
					font-size: 1.5em;
				}
			}
		}

		/* Header Hero */
		.header-hero {
			@include center-nav();
			margin: 0;
			text-align: center;
			width: 100%;
			z-index: 1;
			color: #fff;
			font-family: 'besom_2regular', sans-serif;
			font-size: 3.3em;
		}

/* Content Page */
#welcome {
	text-align: center;
	background: #fff;
	font-family: "Source Sans Pro", sans-serif;
	color: #000;

	h1 {
		color: #0036FF;
		font-family: 'Open Sans', sans-serif;
		font-size: 1.3em;
		line-height: 1.5em;
		margin: 0.5em 0 0.3em;
	}

	p {
		margin-top: 0;
		line-height: 2em;
	}
}

/* Pastor Page */
#pastor {
	height: 100%;
	background: url("../img/pastor_background.jpg") no-repeat fixed;
}

/* Location Page */
#location {
	background: hsla(0,0,35%, 1);

	.location-container {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			text-align: center;
			margin: 1em;

			i {
				color: #fff;
				font-size: 1.5em;
			}

			p {
				color: #fff;
				font-family: 'Source Sans Pro', sans-serif;
				margin: 0.5em;
			}
		}
	}
}

/* Footer Page */
#footer {
	background: #1F1ABD;
	text-align: center;
	
	.icons {
		padding: 10px 0 0;

		// .icon {
		// 	text-align: center;
		// 	margin: 0 10%;
		// }

		// .fa-circle-thin {
		// 	color: #000;
		// }
	}

	p {
		margin: 0;
		padding: 4px 2px;
		font-size: 0.9em;
		word-spacing: 2px;
	}

}